<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
	<head>
		<title>{% block title %}{% trans 'Accopensys' %}{% endblock %}</title>
		<meta name="author" content="webadmin@accopensys.com"/>
		<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
		<meta http-equiv="content-style-type" content="text/css"/>
		<meta http-equiv="content-script-type" content="text/javascript"/>
		<link rel="stylesheet" type="text/css" href="/css/screen.css"/>
		<link rel="shortcut icon" href="/favicon.ico"/>
		{% if rss %}<link rel="alternate" title="{{ rss.title }}" href="{{ rss.url }}" type="application/rss+xml"/>{% endif %}
		<!--<script type="text/javascript" src="/js/tools.js"></script>-->
		<script type="text/javascript">
			<!--
			addthis_pub = 'accopensys';
			addthis_logo            = 'http://www.accopensys.com/img/resources/accopensys_logo_addthis.png';
			addthis_logo_background = 'FFFFFF';
			addthis_logo_color      = '263075';
			addthis_options         = 'favorites, delicious, google, digg, live, more';
			addthis_offset_top			= -23;
			-->
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<img id="logo" alt="Accopensys" src="/img/logo_white.png"/>
			</div>
			<div id="nav-main">
				<ul>
					{% for section in sections %}
						<li><a href="/{{ section.slug }}">{{ section.name }}</a></li>
					{% endfor %}
				</ul>
				<ul class="right">
					<!--<li ><a href="/language">{% trans 'English' %}</a></li>-->
					<li ><a href="/sign-in">{% trans 'Sign In' %}</a></li>
				</ul>
			</div>
			<div id="page">
				{% block page %}{% endblock %}
			</div>
			<div id="tools">
				<ul>
					<li><a class="bookmark" href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', location.href, document.title)" onmouseout="addthis_close()" onclick="return addthis_sendto()">{% trans 'Bookmark this page' %}</a></li>
					<li><a class="email" href="mailto:?Subject=Web%20page%20recommendation&amp;Body=http://www.accopensys.com{{ request.path }}">{% trans 'E-mail this page' %}</a></li>
					<li><a class="print" href="/print-page" onclick="javascript:print(); return false;">{% trans 'Print this page' %}</a></li>
					<!--<li><a class="comment" href="/comment-page">{% trans 'Comment on this page' %}</a></li>-->
					{% if rss %}<li><a class="rss" href="{{ rss.url }}">{% trans 'Subscribe to this page' %}</a></li>{% endif %}
				</ul>
			</div>
			<div id="footer">
				<p id="copyright">&copy; 2006 - 2008 Accopensys</p>
				<ul>
					<li><a href="/special-pages/privacy-statement">{% trans 'Privacy Statement' %}</a></li>
					<li><a href="/special-pages/terms-of-use">{% trans 'Terms of Use' %}</a></li>
					<li><a href="http://www.google.com/custom?domains=accopensys.com&amp;sitesearch=accopensys.com&amp;client=pub-1936842256917240&amp;forid=1&amp;ie=ISO-8859-1&amp;oe=ISO-8859-1&amp;hl=en&amp;cof=GALT%3A%23000099%3BGL%3A1%3BDIV%3A%23263075%3BVLC%3A663399%3BAH%3Acenter%3BBGC%3AFFFFFF%3BLBGC%3AFFFFFF%3BALC%3A000099%3BLC%3A000099%3BT%3A000000%3BGFNT%3A6699CC%3BGIMP%3A6699CC%3BLH%3A50%3BLW%3A259%3BL%3Ahttp%3A%2F%2Fwww.accopensys.com%2Fimg%2Faccopensys-google.png%3BS%3Ahttp%3A%2F%2Fwww.accopensys.com%3BFORID%3A1%3B&amp;q=">{% trans 'Search' %}</a></li>
					<li><a href="mailto:info@accopensys.com?Subject=Accopensys%20%C2%BB%20Contact%20Us">{% trans 'Contact Us' %}</a></li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-1635939-3");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
		<script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
	</body>
</html>
