{% extends 'base.html' %}

{% block page %}
	<div id="nav-sec">
		<h1>{% block pagename %}{% endblock %}</h1>
		<ul>{% block nav-sec %}{% endblock %}</ul>
	</div>
	<div id="content">{% block content %}{% endblock %}</div>
{% endblock %}

