{% extends 'base_2col.html' %}

{% block title %}{{ block.super }} &raquo; {{ object.section.name }} &raquo; {{ object.name }}{% endblock %}
{% block pagename %}{{ object.section.name }}{% endblock %}
{% block nav-sec %}
	{% for page in pages %}
		<li{% ifequal page.id object.id %} class="active"{% endifequal %}><a href="/{{ page.section.slug }}/{{ page.slug }}">{{ page.name }}</a></li>
	{% endfor %}
{% endblock %}

{% block content %}
	{% if object.image %}<img alt="{{ object.name }}" src="/{{ object.image }}"/>{% endif %}
	{{ object.content_safe }}
{% endblock %}
