{% extends "base.html" %}
{% load i18n %}

{% block page %}
	<div>
		<form action="/intranet/" method="post" id="login-form">
			<div id="sign-in">
    		<label for="id_username">{% trans 'Username:' %}</label> <input type="text" name="username" id="id_username" />
    		<label for="id_password">{% trans 'Password:' %}</label> <input type="password" name="password" id="id_password" />
    		<input type="hidden" name="this_is_the_login_form" value="1" />
    		<input type="hidden" name="post_data" value="{{ post_data }}" /> {#<span class="help">{% trans 'Have you <a href="/password_reset/">forgotten your password</a>?' %}</span>#}
    		<label>&nbsp;</label><input class="button" type="submit" value="{% trans 'Log in' %}" />
			</div>
		</form>

{% if error_message %}
	<p class="errornote">{{ error_message }}</p>
{% endif %}

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
