<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
	<head>
		<title>{% block title %}{% trans 'Accopensys' %}{% endblock %}</title>
		<meta name="author" content="webadmin@accopensys.com"/>
		<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
		<meta http-equiv="content-style-type" content="text/css"/>
		<meta http-equiv="content-script-type" content="text/javascript"/>
		<link rel="stylesheet" type="text/css" href="/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="/css/error_pages.css"/>
		<link rel="shortcut icon" href="/media/favicon.ico"/>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<a href="/"><img id="logo" alt="Accopensys" src="/img/accopensys-google.png"/></a>
			</div>
            <div id="content">
                <p>Site under maintenance. Please check back shortly. We apologize for any inconvenience.</p>
            </div>
        </div>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-1635939-3");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
	</body>
</html>
