* { margin: 0; padding: 0; font-family: Verdana, sans-serif; color: black; }
p, li, td, a, span, label, input { font-size: 12px; }
h1 { font-size: 15px; }
h2 { font-size: 14px; }
h3 { font-size: 13px; }
a { text-decoration: none; }
ul li { list-style-type: none; }
img { border-style: none; }
td { vertical-align: top; }
th { text-align: left; }
