#container {
    width: 800px;
    margin: 0 auto;
}
#header {
    margin-top: 30px;
}
#content {
    border-top: 1px solid #263075;
    border-bottom: 1px solid #263075;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
#content p {
    color: #263075;
}

