@import url(common.css);

body { background-color: #cccccc; }
#container { position: absolute; top: 8px; left: 50%; margin-left: -400px; width: 800px; }

#header { width: 800px; height: 89px; background: black url(/img/header.gif) no-repeat; }
#logo { position: relative; top: 10px; left: 40px; }

#nav-main { height: 20px; background: #bdcedc url(/img/nav-main.gif) repeat-x; }
#nav-main ul li { float: left; margin-top: 2px; }
#nav-main ul li a { padding: 3px 16px; font-size: 11px; font-weight: bold; color: #293d6b; }
#nav-main ul li a:hover { background: #a5bacc url(/img/nav-main-hl.gif) repeat-x; }
#nav-main ul.right { float: right; }
#nav-main ul.right li > a { font-weight: normal; }
#nav-main ul.right li a:hover { background: none; }

#page { clear: both; padding: 30px 20px; min-height: 6em; background: white url(/img/shadow.gif) repeat-x; }

#nav-sec { position: absolute; }
#nav-sec h1 { height: 20px; padding-top: 2px; width: 135px; padding-left: 15px; color: white; font-size: 12px; font-weight: bold; background: #708ea8 url(/img/page-name.gif) repeat-x; }
#nav-sec ul { white-space: nowrap; }
#nav-sec ul li { width: 130px; padding-left: 20px; }
#nav-sec ul li a { font-size: 11px; color: gray; }
#nav-sec ul li.active, #nav-sec ul li:hover { background-color: #efefef; }
#nav-sec ul li.active a, #nav-sec ul li:hover a { color: #404040; }

#content { position: relative; top: 20px; left: 200px; width: 500px; }
#content h2 { margin-bottom: 1em; }
#content p { text-align: justify; margin-bottom: 1em; }
#content img { float: right; margin-left: 20px; margin-bottom: 10px; }
#content ul, #content ol { margin-bottom: 1em; }
#content ul li, #content ol li { margin-left: 2em; margin-top: .5em; }
#content ul li { list-style-type: square; }
#content a { border-bottom: dotted #a0a0a0 1px; }
#content a:hover { border-bottom: solid black 1px; }

#tools { clear: both; height: 10px; padding: 30px 16px 10px 16px; background: #cccccc url(/img/tools.gif) repeat-x; }
#tools ul li a { float: left; margin-right: 1em; padding-left: 20px; color: #525252; font-size: 10px; }
#tools ul li a:hover { color: #333; }
#tools ul li a.bookmark { background: transparent url(/img/tools/bookmark.gif) no-repeat; }
#tools ul li a.email { background: transparent url(/img/tools/email.gif) no-repeat; }
#tools ul li a.comment { background: transparent url(/img/tools/comment.gif) no-repeat; }
#tools ul li a.print { background: transparent url(/img/tools/print.gif) no-repeat; }
#tools ul li a.rss { background: transparent url(/img/tools/rss.gif) no-repeat; }

#footer { clear: both; height: 1em; padding: 8px 16px; background: black url(/img/footer.gif) repeat-x; }
#copyright { float: left; font-size: 10px; }
#footer ul { float: right; }
#footer ul li { float: left; margin-left: 2em; font-size: 10px; }
#footer ul li a { font-size: 10px; }

/* page borders */
#nav-main, #shadow, #page, #tools, #footer { border-left: solid black 1px; border-right: solid black 1px; }
/* main page link color */
#copyright, #footer ul li a, input.button { color: #d6d6d6; }
#footer ul li a:hover, input.button:hover { color: white; }

/* sign-in form */
#sign-in { margin-left: 200px; }
#sign-in input { display: block; }
#sign-in input[type="submit"] { margin-left: 30px; padding: 1px 10px; background: url(/img/button.gif) black repeat-x; border: solid black 1px; font-size: 10px; cursor: pointer; }
#sign-in p.errornote { color: red; font-weight: bold; }

